name: DCS

on:
  workflow_dispatch:  # Allows manual triggering from GitHub UI

jobs:
  build:

    runs-on: windows-2022
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Setup msbuild
        uses: microsoft/setup-msbuild@v2

      - name: Prepare edk2 directory
        shell: cmd
        run: mkdir ..\edk2 & mklink /J edk2 ..\edk2
        
      - name: Restore edk2 cache
        id: cache-edk2
        uses: actions/cache@v4
        with:
          path: edk2
          key: edk2-edk2-stable202511-v1-${{ runner.os }}
      
      - name: Clone edk2 (if cache miss)
        if: steps.cache-edk2.outputs.cache-hit != 'true'
        shell: cmd
        run: cd .\.. & git clone --branch edk2-stable202511 --depth 1 --recurse-submodules --shallow-submodules https://github.com/tianocore/edk2.git
            
      - name: Build Dcs
        shell: cmd
        run: DcsPkg\get_edk2_and_build_dcs.cmd

      - name: Upload Dcs
        uses: actions/upload-artifact@v4.4.3
        with:
          name: DcsPkg
          path: |
            DcsPkg/Export/*
            
