name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]
  workflow_dispatch:  # Allows manual triggering from GitHub UI

jobs:
  DCrypt_X64:

    runs-on: windows-2022
    #runs-on: windows-2019
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Setup msbuild
        uses: microsoft/setup-msbuild@v2

      - name: Build DCrypt
        run: msbuild /t:build DCrypt\dcrypt.sln /p:Configuration="Release" /p:Platform=x64 /m

      - name: Upload DCrypt
        uses: actions/upload-artifact@v4.4.3
        with:
          name: DCrypt_X64
          path: |
            DCrypt/Bin/Release_amd64/*.exe
            DCrypt/Bin/Release_amd64/*.dll
            DCrypt/Bin/Release_amd64/*.sys
            DCrypt/Bin/Release_amd64/*.pdb


  DCrypt_AA64:

    runs-on: windows-2022
    #runs-on: windows-2019
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Setup msbuild
        uses: microsoft/setup-msbuild@v2
        
      - name: Build DCrypt
        run: msbuild /t:build DCrypt\dcrypt.sln /p:Configuration="Release" /p:Platform=ARM64 /m

      - name: Upload DCrypt
        uses: actions/upload-artifact@v4.4.3
        with:
          name: DCrypt_AA64
          path: |
            DCrypt/Bin/Release_arm64/*.exe
            DCrypt/Bin/Release_arm64/*.dll
            DCrypt/Bin/Release_arm64/*.sys
            DCrypt/Bin/Release_arm64/*.pdb


  DcsPkg_X64:

    runs-on: windows-2022
    #runs-on: windows-2019
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Compute parent workspace path
        id: paths
        shell: cmd
        run: |
          for %%I in ("%GITHUB_WORKSPACE%\..") do echo PARENT_WS=%%~fI>>"%GITHUB_ENV%"
      
      - name: Restore clean edk2 cache
        id: edk2-restore
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.PARENT_WS }}\edk2
          key: edk2-clean-edk2-stable202511-v1a-${{ runner.os }}
      
      - name: Clone edk2 (if cache miss)
        if: steps.edk2-restore.outputs.cache-hit != 'true'
        shell: cmd
        run: DcsPkg\ci_get_edk2.cmd
      
      - name: Save clean edk2 cache (checkout only)
        if: steps.edk2-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: ${{ env.PARENT_WS }}\edk2
          key: edk2-clean-edk2-stable202511-v1a-${{ runner.os }}
            
      - name: Build Dcs
        shell: cmd
        run: DcsPkg\ci_build_dcs.cmd X64Rel
            
      - name: Upload Dcs
        uses: actions/upload-artifact@v4.4.3
        with:
          name: DcsPkg_X64
          path: |
            DcsPkg/ExportX64/*


  DcsPkg_AA64:

    runs-on: windows-2022
    #runs-on: windows-2019
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Compute parent workspace path
        id: paths
        shell: cmd
        run: |
          for %%I in ("%GITHUB_WORKSPACE%\..") do echo PARENT_WS=%%~fI>>"%GITHUB_ENV%"
      
      - name: Restore clean edk2 cache
        id: edk2-restore
        uses: actions/cache/restore@v4
        with:
          path: ${{ env.PARENT_WS }}\edk2
          key: edk2-clean-edk2-stable202511-v1a-${{ runner.os }}
      
      - name: Clone edk2 (if cache miss)
        if: steps.edk2-restore.outputs.cache-hit != 'true'
        shell: cmd
        run: DcsPkg\ci_get_edk2.cmd
      
      - name: Save clean edk2 cache (checkout only)
        if: steps.edk2-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: ${{ env.PARENT_WS }}\edk2
          key: edk2-clean-edk2-stable202511-v1a-${{ runner.os }}
            
      - name: Build Dcs
        shell: cmd
        run: DcsPkg\ci_build_dcs.cmd A64Rel
        
      - name: Upload Dcs
        uses: actions/upload-artifact@v4.4.3
        with:
          name: DcsPkg_AA64
          path: |
            DcsPkg/ExportAA64/*
